body {
    background-image: url("images/delicious-chicken-table.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    font-family: 'Kolker Brush', cursive;
    font-size: 45px;
    color: #FF7D7D;
}

#myNav a {
    color: #FF7D7D;
    text-decoration: none;
    margin: 25px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    transition-duration: 0.5s;
}

#content {
    text-align: center;
}

#content h1 {
    margin-top: 10px;
    font-family: 'Kolker Brush', cursive;
    font-size: 200px;
    color: #FF7D7D;
}

#content h3 {
    font-family: 'Kolker Brush', cursive;
    font-size: 100px;
    color: bisque;
}

#banner {
    margin: 25px;
    display: flex;
    float: left;
    justify-content: space-evenly;
}

#banner img {
    border-radius: 5px;
    width: 17%;
}

#menu {
    text-align: center;
    font-family: 'Kolker Brush', cursive;
    font-size: 100px;
    color: bisque;
}